body {
    font-family: 'Open Sans', sans-serif;
}

.header-menu {
    background-color: #313131;
    display: flex;
    justify-content: space-between;

}

.nav_menu-item {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 35px;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;

}

.search-img {
    width: 17px;
    height: 17px;
}

.search {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 68px;
}

.logo {
    display: flex;
    align-items: center;
}

.header-title {
    padding-left: 15px;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
}

.logo-img {
    width: 27px;
    height: 27px;
    padding: 29px 22px;
}

.nav_menu-item:hover {
    color: #14B9D5;
}

.search-btn {
    cursor: pointer;
    background-color: black;
    border-color: black;
}

.latest-news {
    height: 369px;
    background-image: url(../img/header-bg.jpeg);
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: bottom;
    background-repeat: no-repeat;


}

.container-btn {
    width: 170px;
    height: 55px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    margin: 15px;
}


.latest-news_title {
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    color: white;
    margin-top: 166px;
}

.container-btn1 {
    background-color: #89CA62;
    border-color: #89CA62;
}

.container-btn2 {
    background-color: #14B9D5;
    border-color: #14B9D5;
}

.latest-news_action {
    flex-direction: column;
}

.btn-action {
    display: flex;
    margin-top: 44px;
    align-items: center;
    justify-content: center;
}

.mostpopular {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mostpopular_gallery {
    display: flex;
}

.mostpopular_gallery > div {
    display: flex;
    flex-direction: column;
}

.mostpopular_span {
    line-height: 61px;
    background-color: white;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
    width: 370px;
    justify-content: center;
    display: flex;
}

.mostpopular_gallery > div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    width: 370px;
    height: auto;
}

.mostpopular_title {
    color: #18B4CF;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    margin-top: 49px;
    margin-bottom: 52px;
}

.our_mostpopular {
    width: 1900px;
    height: 588px;
    background-image: url("../img/parallax-bg.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.top-rated_gallery {
    display: flex;
    margin-top: 52px;
}

.top_rated-title {
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    margin-top: 49px;
    color: #18B4CF;
}

.top-rated_img {
    width: 283px;
    height: 190px;
}

.logo-partner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-partner-img {
    margin-top: 196px;
    padding: 0 58px;
}

.section-title {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 108px;

}

.area-1 {
    grid-area: area-1;
    margin-left: 55px;
}

.area-2 {
    grid-area: area-2;
}

.area-3 {
    grid-area: area-3;
}

.area-4 {
    grid-area: area-4;
}

.area-5 {
    grid-area: area-5;
}

.area-6 {
    grid-area: area-6;
}

.area-7 {
    grid-area: area-7;
    margin-left: 55px;
}

.area-8 {
    grid-area: area-8;
}

.hot_news {
    margin-top: 132px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 27vh 1fr 1fr 27vh;
    gap: 25px 35px;
    grid-template-areas:
    ". area-1 area-1 area-1 area-2 ."
    ". area-3 area-3 area-4 area-4 ."
    ". area-5 area-5 area-6 area-6 ."
    ". area-7 area-8 area-8 area-8 .";
    text-align: right;
}

.hot_news > div {
    overflow: hidden;

}

.footer-container {
    height: 80px;
    background-color: #000000;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-template-areas:
    ". p-right p-right . . footer-img .";
    align-items: center;
}


.p-rights {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    /* or 100% */
    grid-area: p-right;
    color: white;
}

.footer-img {
    grid-area: footer-img;
}

.area-1,
.area-8 {
    display: flex;
}

.card_description {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F9F7F7;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);

}

.card_description p {
    display: flex;
    height: 100%;
    align-items: center;
    margin: 0 10px;

}
.card_description:last-child{
    padding-top: 41px;
}
.hot_news h3{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    text-align: right;
    justify-content: center;

}
.hot_news p{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    /* or 150% */
    display: flex;
    align-items: center;
    color: #353A3D;
    justify-content: center;
}
.footer{
    margin-top: 77px;
}
.card-dart{
display: inline-block;
    background: #F9F7F7;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
    width: 555px;
    height: 144px;
}
.card-page{
    display: inline-block;
    background: #F9F7F7;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
    width: 255px;
    text-align: center;
    justify-content: center;
}
.card-page-first{
    width: 278px;
}
.title-resting-place{
    padding-bottom: 15px;
    padding-left: 100px;
}
.title-firt-place{
    padding-left: 31px;
}
.title-last-place{
    padding-left: 59px ;
}


